<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<body>
<script type="text/javascript">
    var userLang = navigator.language || navigator.userLanguage;

    var lang = userLang.indexOf('ca') !== -1 ? 'ca' : 'es';

    window.location.replace('{{ site.baseurl }}/'+lang+'/');
</script>
</body>
</html>
