---
layout: default
---

<article class="page">
  <div class="entry">
    {{ content }}

    <h2>Darrers articles</h2>
    <div class="home-content-list">
      {% assign dev_pages=site.pages | where_exp: "item", "item.url contains '/dev/'" | sort: 'date' | reverse %}
      <div class="column">
        <ul class="post_list">
          {% for dev_page in dev_pages limit:5 %}
            {% if dev_page.url != '/dev/' %}
              <li>
                <p class="post_list_date">{{dev_page.date}}</p>
                <a href="{{ site.baseurl }}{{ dev_page.url }}">
                  {{ dev_page.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <p class="home_view_all"><a href="{{ site.baseurl }}/dev/">Veure tot</a></p>

      </div>
    </div>

  </div>
</article>
